
<div class="container-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor = "let tab of tabList; let idx = index">
            <a href="" class="nav-link" (click)="openTab($event, idx)" [ngClass]="{'active' : selectedTab == idx}">{{tab}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <table class=" table">
            <thead>
                <tr>
                    <th class="title-column col-6">Name</th>
                    <th class="title-column col-6">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of visibleTransactions">
                    <td class="col-6">{{item.name.first}} {{item.name.last}}</td>
                    <td class="col-6">{{item.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button [routerLink]="['/']" class="btn btn-primary m-4 float-right">Go home</button>
